################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

*.asc
/POD/lab6/GL
/POD/lab6/glew.c
/POD/lab6/in.data
/packages
